@import "../styles/custom-properties.css";

.root {
  color: var(--color-black, #333);
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  padding: 2rem 0;
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.item {
  @nest & > a {
    font-size: 10px;
    font-family: var(--font-family-gilroy);
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.text,
.copyright {
  text-align: center;
  font-family: var(--font-family-baskerville);

  @nest & p {
    margin: 1rem 0;
  }

  @nest & a {
    color: inherit;
  }
}

.copyright {
  font-size: var(--font-micro-size);
  font-family: var(--font-family-gilroy);
  padding-top: 1rem;
}

.footerlogo {
  max-width: 75px;
  margin: 0 auto;

  @nest & img {
    width: 100%;
  }
}

.sociallogos {
  display: flex;
  justify-content: center;

  @nest & img {
    margin: 0 10px;
    max-height: 25px;
  }
}

.membershiplogos {
  display: flex;
  justify-content: center;
  
  @nest & img {
    margin: 0 10px;
    height: 45px;
    width: auto;
  }
}
