/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */
@import "./custom-properties.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-gilroy);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

a,
a:link,
a:visited {
  color: #000;
  color: var(--color-black);
}

/* React Transition Group */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/* :global(.content) {
  min-height: calc(100% - 84px - 218px);
} */
