@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  height: 100vh;
  width: 100vw;

  @nest & > div {
    top: 5.5rem;
    bottom: 5.5rem;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;


    @media (--media-min-large) {
      left: 2.5rem;
      right: 2.5rem;
    }  
  }
}

