@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  padding: 1rem 0;

  @media (--media-min-medium) {
    padding: 1rem 0;
  }

  @nest &:first-child {
    padding-top: 8.5rem;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.weight-normal {
  font-weight: inherit;
}

.weight-thin {
  @nest & h1 {
    font-weight: 300 !important;
  }
  @nest & h2 {
    font-weight: 300 !important;
  }
  @nest & h3 {
    font-weight: 300 !important;
  }
  @nest & h4 {
    font-weight: 300 !important;
  }
  @nest & p {
    font-weight: 300 !important;
  }
}

.weight-bold {
  @nest & p {
    font-weight: 600 !important;  
  }
}

.article {
  width: 100%;
  font-family: var(--font-family-gilroy);
  max-width: var(--width-text-medium);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  font-family: var(--font-family-gilroy);
  text-transform: uppercase;
  font-weight: 300;
  width: object-fit;
  border-bottom: 2px solid var(--color-black);
  padding: 10px 25px;
}

.label + .heading {
  margin-top: 0.25em;
}

.TextSection p span {
  text-decoration: underline;
  font-weight: 600;
}
