@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  position: relative;
  padding: 2rem 0;

  @media (--media-min-large) {
    padding: 1rem 0;
  }
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}

.label + .title {
  margin-top: 0.2em;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  font-family: var(--font-family-gilroy);
  text-transform: uppercase;
  font-weight: 300;
  width: object-fit;
  border-bottom: 2px solid var(--color-black);
  padding: 10px 25px;
}

.image {
  display: block;
  width: 100%;
}

.content {
  position: relative;
  margin: 0 1.5rem;
  max-width: 70em;
  max-width: 90vw;

  @nest & figcaption {
    width: 100%;
    box-sizing: border-box;
  }

  @media (--media-min-medium) {
    margin: 0 auto;
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 1em;

    @nest & figcaption {
      position: absolute;
      top: 0;
    }
  }
}

.article {
  display: flex;
  font-family: var(--font-family-baskerville);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.imageContainer {
  margin: 0;
}
