@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.container {
  position: relative;
  top: -20px;
  left: -40px;
  width: calc(100% + 80px);
  height: calc(100vh + 40px);
  z-index: 1;
  display: block;
}

.windowContainer {
  position: relative;
  top: 0;
  left: 0;
  height: 60vmin;
  z-index: 1;
  display: block;
}

.wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.windowWrapper iframe {
  width: calc(100vw / 2);
  height: calc(56.25vw / 2); /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: calc(100vh / 2);
  min-width: calc(177.77vh / 2); /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
